body {
    background: white url("images/background.png") no-repeat center;
    background-size: auto;
    height: 500px;
    text-align: center;
}

title{
    color: red;
    font-weight: bold;
}

li a {
    color:green;
}

.btn1 {
    color: #6A84B7;
}

.table {
    color: #223C6F;
}
