h1 a {
    color: #5872A5;
    font-family: 'Lobster', cursive;
}


.page-header {
    background-color: #B5C1DB;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    border-style: solid;
    border-width:5px;
    border-color:#C3C3C3;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #FFFFFF;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}
.date{color: #828282;}
.save{float:right;}
.post-from textarea, .post-form input{width:100%;}
.top-menu, .top-menu:hover, .top-menu:visited{
    color: #ffffff;
    float:right;
    font-size:26pt;
    margin-right:20px;
}
.post{
    margin-bottom:70px;
}


h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}



.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
.btn2{
background-color:lightgray;
width:60px;
border: solid 1px gray;
border-radius:3px;
}
.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #344E81;
}

.post a:visited {
    color: #6A84B7;

}

.nav-item active{
    padding: 8px;
}

.navbar {
    margin:0px;
}

.container {
    height :56px;
}

body {
    background: url("images/background.png"), no-repeat;
    background-size: auto;
    height: 500px;
}
.comment {
    border: 5px double #C3C3C3;
}
.btn {
    color: #6A84B7;

}

.glyphicon-pencil:before {
width:14px;
height:14px;
content: "\270f";
}


.glyphicon-plus:before {
width:50px;
height:35px;
content: "\2b";
}