body {
    background: url("images/background.png"), no-repeat;
    background-position: center;
    background-size: auto;
    height: 500px;
    text-align: center;
}

title{
    color: red;
}

li a {
    color:#223C6F;
}
.btn0{
    color: #6A84B7;
}
.btn1 {
    color: #6A84B7;
    text-decoration: underline;
}

.table {
    color: #223C6F;
}

.btn0{
    border:solid 2px white;
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

