body {
    background: url("images/background1.png"), no-repeat;
    background-position: center;
    background-size: auto;
    height: 500px;
}

title{
    color: red;
    font-weight: bold;
}

li a {
    color:green;
}

h4 {
    text-align:center;
}